<div class="form-group spacing">
  <% if !(current_page?('/users/sign_up')) %>
    <%= link_to "Don't have an account? Register here instead.", new_user_registration_path %><br />
  <% end %>
  
  <% if !(current_page?('/users/sign_in')) %>
    <%= link_to "Sign in here.", new_user_session_path %><br />
  <% end %>

  <% if !(current_page?('/users/password/new')) %>
    <%= link_to "Forgot your password?", new_user_password_path %><br />
  <% end %>

  <% if !(current_page?('/users/confirmation/new')) %>
    <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %><br />
  <% end %>

  <% if !(current_page?('/users/unlock/new')) %>
    <%= link_to "Didn't receieve unlock instructions?", new_user_unlock_path %><br />
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
</div>